	header{
		background-color: #333;
		font-family: Consolas;
		display: flex;
		justify-content: space-between;
	}

	ul{
		list-style: none;
		display: flex;
		flex-direction: row;
	}

	ul a{
		margin: 10px;
		padding: 10px;
		font-size: 20px;
		text-decoration: none;
		color: #fff;
		border-style: outset;
	}

	ul a:hover{
		background-color: #222;
	}

	body{
		font-family: Consolas;
		background-color: #222;
	}

	.a{
		display: flex;
		justify-content	: center;
		margin: 10px;
	}

	.c{
		display: flex;
		align-content: center;
		flex-flow: column wrap;
	}

	.c div{
		margin: 15px;
	}

	.d{
		height: 100%;
		width: 50%;
		border: 1px solid #333;
		border-style: outset;
		display: flex;
		justify-content: space-between;
	}

	.d p{
		padding: 10px;
	}

	.e{
		height: 100%;
		width: 50%;
		border: 1px solid #333;
		border-style: outset;
		display: flex;
		justify-content: space-between;
	}

	.e p{
		padding: 10px;
	}

	.f{
		height: 100%;
		width: 50%;
		border: 1px solid #333;
		border-style: outset;
		display: flex;
		justify-content: space-between;
	}

	.f p{
		padding: 10px;
	}

	.g{
		display: grid;
		grid-template-columns: 33.33% 33.33% 33.33%;
		grid-column-gap: 0;
		grid-row-gap: 40px;
		padding: 10px;
		margin: 10px;
	}

	.h{
		height: 100%;
		width: 250px;
		border: 1px solid #333;
		border-style: outset;	
	}

	.h p{
		padding: 10px;
	}

	.i{
		height: 100%;
		width: 250px;
		border: 1px solid #333;
		border-style: outset;	
	}

	.i p{
		padding: 10px;
	}

	.j{
		height: 100%;
		width: 353px;
		border: 1px solid #333;
		border-style: outset;	
	}

	.j p{
		padding: 10px;
	}

	.k{
		height: 100%;
		width: 420px;
		border: 1px solid #333;
		border-style: outset;	
	}

	.k p{
		padding: 10px;
	}

	.l{
		height: 100%;
		width: 350px;
		border: 1px solid #333;
		border-style: outset;	
	}

	.l p{
		padding: 10px;
	}

	.m{
		height: 100%;
		width: 350px;
		border: 1px solid #333;
		border-style: outset;	
	}

	.m p{
		padding: 10px;
	}

	.n{
		height: 100%;
		width: 95%;
		padding: 50px;
		border: 1px solid #333;
		border-style: outset;
		background-color: #555;
	}

	.n p{
		padding: 10px;
	}

	.o{
		padding-top: 70px;
	}
	 
	section{
		display: grid;
		grid-template-columns: 50% 50%;
	}



	footer{
		background-color: #333;
		font-family: Consolas;
		color: #fff;
		padding: 20px;
		text-align: center;
		font-size: 25px	;
	}

	@media(max-width: 768px){
		nav ul{
			display: flex;
			flex-direction: column;
			align-items: center;
		}

		nav li{
			margin: 10px 0;
		}
		main{
			grid-template-columns: 1fr;
		}
	}